<div class="category">
    <div class="category-title">
        <i class="layui-icon layui-icon-read"></i>
        <span>分类</span>
    </div>
    <hr style="margin: 10px 0;">
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>默认分类</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>Linux</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>人工智能</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>数据库</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>网络开发</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>小程序开发</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>LeetCode</span>
        <span class="category-num">2</span>
    </div>
    <div class="category-litle-title">
        <i class="layui-icon layui-icon-list"></i>
        <span>Web开发</span>
        <span class="category-num">2</span>
    </div>
</div>