<div>
    <div class="background">
        <a href="{{ url_for('blog.static', filename='imgs/background.png') }}">
            <img src="{{ url_for('blog.static', filename='imgs/background.png') }}">
        </a>
    </div>
    <div class="profile">
        <a href="{{ url_for('blog.static', filename='imgs/头像.png') }}">
            <img src="{{ url_for('blog.static', filename='imgs/头像.png') }}">
        </a>
    </div>
    <div class="side-title">
        <span>汪Sir</span>
        <a class="my-github" href="https://github.com/molian666">Github</a>
        <a class="my-email" href="/blog/Email">Email</a>
    </div>
</div>