<div class="recent_posts">
    <div class="posts-title">
        <i class="layui-icon layui-icon-template"></i>
        <span>最新文章</span>
    </div>
    <hr style="margin: 10px 0;">
    <div class="posts-litle-title">
        <i class="layui-icon layui-icon-file-b"></i>
        <span>GaussDB全密态数据库等值查询</span>
    </div>
    <div class="posts-litle-title">
        <i class="layui-icon layui-icon-file-b"></i>
        <span>MATLAB和Python及R聚类和亚群识别</span>
    </div>
    <div class="posts-litle-title">
        <i class="layui-icon layui-icon-file-b"></i>
        <span>Ceph client 写入osd 数据的两种方式librbd 和kernel rbd</span>
    </div>
    <div class="posts-litle-title">
        <i class="layui-icon layui-icon-file-b"></i>
        <span>SQLite 全文检索：快速高效的文本查询方案</span>
    </div>
    <div class="posts-litle-title">
        <i class="layui-icon layui-icon-file-b"></i>
        <span>深度学习和图像处理</span>
    </div>
</div>