<div class="tags">
    <div class="tags-title">
        <i class="layui-icon layui-icon-note"></i>
        <span>标签</span>
    </div>
    <hr style="margin: 10px 0;">
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #333333">Ubuntu</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #1e9fff">Django</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #1f1f1f">Sklearn</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #009f95">Transflow</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #a233c6">Flask</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #e81123">Vue</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #eb7350">KNN</button>
    <button type="button" class="layui-btn-sm layui-btn-primary layui-btn-radius" style="color: #00ff00">Springboot</button>
</div>